<!DOCTYPE html>
<html>

<head>
    <script src="../public/lib/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/lib/bootstrap.min.css">
    <script type="text/javascript" src="../public/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/styles/addPal.css">
    <!--<script type="text/javascript" src="scripts/addPal.js"></script>-->
</head>

<body>
    <div class="container">
        <br>
        <form>
            <div id="palStore" style="display:none;"></div>
            <div class="form-group">
                <label for="adminName"> Name of Admin:</label>
                <input class="form-control" id="adminName" placeholder="Please enter the admin's full name" required="true">
            </div>
            <div class="form-group">
                <label for="adminUsername">Username: </label>
                <input class="form-control" id="adminUsername" placeholder="Enter a username for this admin" required="true">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required="true">
            </div>
            <div class = "form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter the desired password">
            </div>
            
            <button type="submit" class="btn btn-default" id="addPalBtn" onclick="submitFunc()">Submit</button>
            <button type = "button" class = "btn btn-warning" id= "deletePalBtn" data-toggle="modal" data-target="#confirmationModal" style="float: right"> Delete</button>
            
            <!-- TODO delete button css -->
            <div id = "confirmationModal" class = "modal fade" role = "disalog">
                <div class="modal-dialog">
                    <div class = "modal-content">
                        <div class = "modal-header">
                            <h4> Are you sure you want to delete this PAL?</h4>
                        </div>
                        <div class = "modal-body">
                            <button type = "button" class = "btn btn-default" id = "confirmDeleteBtn" style = "float:left" onclick = "deletePalFunc()"> Yes, delete this pal</button>
                        
                            <button type = "button" class = "btn btn-default" id = "cancelDeleteBtn" style = "float:right" data-dismiss="modal"> Cancel</button>
                            <br>
                            <br>
                        </div>
                    </div>
                
                </div>
            </div>
        </form>
    </div>
</body>

</html>
