body {
    background-color: #fff2e6;
    color:black;
}
#text {
   
    margin: 0 auto;
    width:auto;
}
h4.thisText{
    color: #7A1211;
     width: 400px;
    
}
.btn{
    background: white;
    
}
